# http://sequel.jeremyevans.net/rdoc/files/doc/opening_databases_rdoc.html
#
# development:
#   adapter: mysql2
#   host: localhost
#   database: exampledb_development
#   user: exampleuser
#   password: examplepassword
